body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  /* contain */
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center;
}

.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0));
  opacity: 1;
  transition: opacity .4s;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

/* Style the links inside the navigation bar */
.navbar a {
  cursor: pointer;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: min(6vw, 3rem);
  opacity: .7;
  border-radius: 3vw;
  margin: 0 2rem;
  padding: 1vw;
}

.textHolder {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}